# VS Code
.vscode/
*.code-workspace
.history/

# Operating System Files
# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk
*.sys
*.tmp
