<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="false" />

    <!-- 카메라로 글자를 비추기 위한 카메라 권한 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- 인식 결과를 LED 서버로 보내기 위한 인터넷 권한 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- android:usesCleartextTraffic="true" : http:// (암호화되지 않은) 실습 서버 접속 허용 -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CameraMessage"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CheckinActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CheckoutActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ShelfManageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InventoryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>
</manifest>
